body,
html {
    background: url("./Assets/background.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    font-family: "Open Sans", sans-serif;
}
.my-btn {
    background-color: rgb(0 0 0 / 33%);
    padding: 10px;
    color: #fff;
    border: 1px solid #fff;
}
.icon-color {
    filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(346deg) brightness(100%) contrast(100%) opacity(100);
    width: 50px;
}
.my-h-100 {
    height: 100vh;
}
.my-text {
    text-align: center;
}
.my-title {
    font-size: 14px;
}
.my-card {
    display: flex;
    text-align: center;
    line-height: 40px;
    align-items: flex-end;
    justify-content: flex-end;
    padding-right: 20px;
    height: 100%;
    padding-bottom: 20px;
}
.my-card2 {
    display: flex;
    text-align: center;
    line-height: 40px;
    align-items: flex-end;
    justify-content: center;
    height: 100%;
    padding-bottom: 20px;
}
.my-card3 {
    display: flex;
    text-align: center;
    line-height: 40px;
    align-items: flex-end;
    justify-content: start;
    padding-left: 20px;
    height: 100%;
    padding-bottom: 20px;
}
.my-block {
    display: none;
}
.my-flex {
    display: block;
}
@media only screen and (max-width: 992px) {
    .icon-color {
        filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(346deg) brightness(100%) contrast(100%) opacity(100);
        width: 50px;
        margin-right: 20px;
    }
    .my-h-100 {
        height: auto;
    }
    .my-none {
        display: none;
    }
    .my-block {
        display: block;
    }
    .my-flex {
        display: flex;
        align-items: center;
    }
    .my-text {
        text-align: left;
    }
    .my-title {
        font-size: 18px;
    }
    .my-card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .my-card2 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
    .my-card3 {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
    }
}
